/* File: assets/style.css */

/* Mengubah latar belakang utama dan sidebar */
[data-testid="stAppViewContainer"] {
    background-color: #F7F2E9;
}

[data-testid="stSidebar"] {
    background-color: #D3B8AE;
}

/* Mengubah warna semua teks menjadi terang */
h1, h2, h3, h4, h5, h6, p, li, label {
    color: #1b2d33;
}

/* Memberi style pada tombol */
.stButton button {
    background-color: #e5ab89;
    color: #1b2d33;
    border: none;
    border-radius: 5px;
    padding: 10px 24px;
}
.stButton button:hover {
    background-color: #edd193;
    color: #e48f73;
}

/* Memberi style pada tabs */
.stTabs [data-baseweb="tab-list"] {
	gap: 24px;
}

.stTabs [data-baseweb="tab"] {
	height: 50px;
    background-color: #f1ba6d;
    border-radius: 5px;
    padding: 0px 20px;
}